#selectionId{
    border: 5px double black;
    height: 70px;
    width: 400px;
}
option{

}
button{
    height: 70px;
    width: 400px;
    margin:  10px;
    
}
#continer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body{
    background-color: rgba(13, 185, 82, 0.566);
}